In [1]:
from math import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Assume we are a Travel Company offering several traveling services. This year, we collaborated with a vacation planning company in four differents cities of the world. Let's say we have customers on our site who are interested in planned vacation and they came across these opportunity to travel to any of these four destinations with planned vacations.

### Among the site visitors we have a singles, newly wedded couples and families of different sizes planning for mid-year vacation and they decided to opt for planned vacation. Their challenge is deciding if Paris, London, Dubai or Mumbai is the best destination for this year's vacation. Many have not decided because of the following reason.
### 1). Some of them do not know what it will cost to travel to each of these cities.
### 2). Many want to know where they will spend the least or maximum amount of money based on their family size.
### 3). Some are financially constrained and are concerned about where they can have the longest stay within their budget.

### To answer their questions as a company, we can create a portal on our site with an in-built calculator that takes in data from customers, process it and give back a valuable answer or feedback to help customers make a decision.

### For the purpose of this project, lets assume we have data containing the cost of basic travel expenses for these four cities, which is a table in our case. We can write a function that answers these questions using the information provided in the table

In [2]:
#The line of code below helps us access the file from our directory
VacationData=pd.read_excel("./Downloads/Vacation.xlsx")

In [3]:
VacationData

   Unnamed: 0    City Cost_of_Hotel/Day Car_Rental/Week Flight_Return_Ticket
0         NaN  London              $30            $120                 $250
1         NaN   Paris                20             200                  200
2         NaN  Mumbai                10              70                  450
3         NaN   Dubai                15              80                  370

In [4]:
#We do have a column "Unnamed: 0" which we don't need on our table, the line of code below helps us get rid of it.
VacationData.drop(columns="Unnamed: 0", inplace=True)

In [5]:
VacationData

     City Cost_of_Hotel/Day Car_Rental/Week Flight_Return_Ticket
0  London              $30            $120                 $250
1   Paris                20             200                  200
2  Mumbai                10              70                  450
3   Dubai                15              80                  370

### This line of code below solves the question of cost of travel to any of the four cities. The cost is determined by the customer's choice of city, the number of travelles and the number of days they intend to spend during their stay.

In [6]:
Cities = ["Paris", "London", "Dubai", "Mumbai"] 
Answer = ""
Answer = input("Which city would you love to visit: ")
No_of_Days = input("How many days do you want to spend:")
print("Note: No_of_Travellers for a combo cannot exceed 6 because the maximum seats available for a rental car is 6")
No_of_Travellers = input("How many individuals would be traveling:")
#Formula: 
#City = (No_of_Travellers) * (Return_Ticket + Hotel_per_day + Daily Car Rental) we converted the weekly rate to daily rate by dividing it by 7)
Paris = (float(No_of_Travellers) * ((200) + (20*float(No_of_Days)))) + ((200/7)*float(No_of_Days))
London = (float(No_of_Travellers) * ((250) + (30*float(No_of_Days)))) + ((120/7)*float(No_of_Days))
Dubai = (float(No_of_Travellers) * ((370) + (15*float(No_of_Days)))) + ((80/7)*float(No_of_Days))
Mumbai = (float(No_of_Travellers) * ((450) + (10*float(No_of_Days)))) + ((70/7)*float(No_of_Days))
if Answer == Cities[0] :
    print("A planned vacation in Paris for {} days, will cost you $".format(No_of_Days) + str(Paris) + ".")
elif Answer == Cities[1]:
    print("A planned vacation in London for {} days, will cost you $".format(No_of_Days) + str(London) + ".")
elif Answer == Cities[2]:
    print("A planned Vacation in Dubai for {} days, will cost you $".format(No_of_Days) + str(Dubai) + ".")
elif Answer == Cities[3]:
    print("A planned vacation in Mumbai for {} days, will cost you $".format(No_of_Days) + str(Mumbai) + ".")

Which city would you love to visit: London
How many days do you want to spend:3
Note: No_of_Travellers for a combo cannot exceed 6 because the maximum seats available for a rental car is 6
How many individuals would be traveling:2
A planned vacation in London for 3 days, will cost you $731.4285714285714.

### To answer question 2, let's write a function that determines the destination with the cheapest cost based on the number of travellers and the number of days they want to spend. The function operates on comparison of the cost for vacation in each of the four cities.

In [7]:
print("Note: No_of_Travellers for a combo cannot exceed 6 because the maximum seats available for a rental car is 6")
No_of_Travellers = input("How many individuals would be traveling:")
No_of_Days = input("How many days do you intend to spend for vacation:")
def Cheapest_Trip(Cities):
    Paris = (float(No_of_Travellers) * ((200) + (20*float(No_of_Days)))) + ((200/7)*float(No_of_Days))
    London = (float(No_of_Travellers) * ((250) + (30*float(No_of_Days)))) + ((120/7)*float(No_of_Days))
    Dubai = (float(No_of_Travellers) * ((370) + (15*float(No_of_Days)))) + ((80/7)*float(No_of_Days))
    Mumbai = (float(No_of_Travellers) * ((450) + (10*float(No_of_Days)))) + ((70/7)*float(No_of_Days))
    if (Paris < London) and (Paris < Dubai) and (Paris < Mumbai):
        print("You will spend the least amount of money if you go to Paris!")
    elif (London < Paris) and (London < Dubai) and (London < Mumbai):
        print("You will spend the least amount of money if you go to London!")
    elif (Dubai < Paris) and (Dubai < London) and (Dubai < Mumbai):
        print("You will spend the least amount of money if you go to Dubai!")
    elif Dubai == Mumbai:
        print("You will spend the least amount of money if you go to Dubai or Mumbai!")
    elif Dubai == London:
        print("You will spend the least amount of money if you go to London or Dubai!")
    elif Dubai == Paris:
        print("You will spend the least amount of money if you go to Paris or Dubai!")
    elif Paris == Mumbai:
        print("You will spend the least amount of money if you go to Paris or Mumbai!")
    elif Paris == London:
        print("You will spend the least amount of money if you go to London or Paris!")
    elif London == Mumbai:
        print("You will spend the least amount of money if you go to Mumbai or London!")
    else:
        print("You will spend the least amount of money if you go to Mumbai!")

Cities = ["Paris", "London", "Dubai", "Mumbai"]
Cheapest_Trip(Cities)

Note: No_of_Travellers for a combo cannot exceed 6 because the maximum seats available for a rental car is 6
How many individuals would be traveling:5
How many days do you intend to spend for vacation:3
You will spend the least amount of money if you go to Paris!

### The above code helps determine the destination where a customer would spend the least amount of money. We can also write a function that will tell us the most expensive destination among the four cities. It also depends on the variables/data collected from the customer. Lets do that below.

In [8]:
print("Note: No_of_Travellers for a combo cannot exceed 6 because the maximum seats available for a rental car is 6")
No_of_Travellers = input("How many individuals would be traveling:")
No_of_Days = input("How many days do you intend to spend for vacation:")
def Most_Expensive_Trip(Cities):
    Paris = (float(No_of_Travellers) * ((200) + (20*float(No_of_Days)))) + ((200/7)*float(No_of_Days))
    London = (float(No_of_Travellers) * ((250) + (30*float(No_of_Days)))) + ((120/7)*float(No_of_Days))
    Dubai = (float(No_of_Travellers) * ((370) + (15*float(No_of_Days)))) + ((80/7)*float(No_of_Days))
    Mumbai = (float(No_of_Travellers) * ((450) + (10*float(No_of_Days)))) + ((70/7)*float(No_of_Days))
    if (Paris > London) and (Paris > Dubai) and (Paris > Mumbai):
        print("You will spend the most amount of money if you go to Paris!")
    elif (London > Paris) and (London > Dubai) and (London > Mumbai):
        print("You will spend the most amount of money if you go to London!")
    elif (Dubai > Paris) and (Dubai > London) and (Dubai > Mumbai):
        print("You will spend the most amount of money if you go to Dubai!")
    elif Dubai == Mumbai:
        print("You will spend the most amount of money if you go to Dubai or Mumbai!")
    elif Dubai == London:
        print("You will spend the most amount of money if you go to London or Dubai!")
    elif Dubai == Paris:
        print("You will spend the most amount of money if you go to Paris or Dubai!")
    elif Paris == Mumbai:
        print("You will spend the most amount of money if you go to Paris or Mumbai!")
    elif Paris == London:
        print("You will spend the most amount of money if you go to London or Paris!")
    elif London == Mumbai:
        print("You will spend the most amount of money if you go to Mumbai or London!")
    else:
        print("You will spend the most amount of money if you go to Mumbai!")

Cities = ["Paris", "London", "Dubai", "Mumbai"]
Most_Expensive_Trip(Cities)

Note: No_of_Travellers for a combo cannot exceed 6 because the maximum seats available for a rental car is 6
How many individuals would be traveling:5
How many days do you intend to spend for vacation:7
You will spend the most amount of money if you go to Mumbai!

### The third question a question a customer may have during their decision making process maybe which city fits his/her budget.To help such customers , we can write a function that calculates the length of stay measured in days. The fuction calculates an estimate in number of days for each of the four city and returns the city with the highest estimated length of stay measured in days.

### Before we go into the function, lets get a clearer view of what the fuction would do. Take a look at the line of code below

In [9]:
print("Note: No_of_Travellers for a combo cannot exceed 6 because the maximum seats available for a rental car is 6")
No_of_Travellers = 1
Budget = 2000
if(float(Budget) < 1000):
    print ("You do not have sufficient fund to travel")
else:
    Paris_ = ((float(Budget) - (200 * float(No_of_Travellers))) / (((20*float(No_of_Travellers))) + ((200/7))))
    London_ = ((float(Budget) - (250 * float(No_of_Travellers))) / (((30*float(No_of_Travellers))) + ((120/7))))
    Dubai_ = ((float(Budget) - (370 * float(No_of_Travellers))) / (((15*float(No_of_Travellers))) + ((80/7))))
    Mumbai_ = ((float(Budget) - (450 * float(No_of_Travellers))) / (((10*float(No_of_Travellers))) + ((70/7))))
    Paris = round(Paris_, 1)
    London= round(London_, 1)
    Dubai= round(Dubai_, 1)
    Mumbai=round(Mumbai_, 1)

    Cities =["Paris", "London", "Dubai", "Mumbai"]


    print(Paris, London, Dubai, Mumbai)

Note: No_of_Travellers for a combo cannot exceed 6 because the maximum seats available for a rental car is 6
37.1 37.1 61.7 77.5

### The results (above) show that based on the budget of $2000, 1 visitor can travel to Mubai for  77 full days whereas the individual customer can only stay for 37 days in Paris or London based on their budget

$$$$

### Let's now profer solution to customers/online site visitors who have a travel budget and are curious to know how long they can stay in each of the four cities and remain within their budget

In [20]:
print("Note: No_of_Travellers for a combo cannot exceed 6 because the maximum seats available for a rental car is 6")
#Length_of_Stay = [Budget - Return_Ticket] / [(Hotel_per_day + (Weekly Car Rental/7))*No_of_Days]
# The value of Length_of_Stay is a scale that shows the inverse relation between the cost of visiting a city and the
#...possible length of days you can stay in that city).
#The lower the cost of living, the higher the purchasing power(The longer you can stay in that city)
No_of_Travellers = input("How many individuals would be traveling:")
Budget = input("What is your budget:")
if(float(Budget) < 1000):
    print ("You do not have sufficient fund to travel")
else:
    def Max_Stay(Cities):
        Paris = ((float(Budget) - (200 * float(No_of_Travellers))) / (((20*float(No_of_Travellers))) + ((200/7))))
        London = ((float(Budget) - (250 * float(No_of_Travellers))) / (((30*float(No_of_Travellers))) + ((120/7))))
        Dubai = ((float(Budget) - (370 * float(No_of_Travellers))) / (((15*float(No_of_Travellers))) + ((80/7))))
        Mumbai = ((float(Budget) - (450 * float(No_of_Travellers))) / (((10*float(No_of_Travellers))) + ((70/7))))
        print("For a budget of " + str(Budget) + ", {} person(s) can travel to:\n Dubai for ".format(No_of_Travellers) + str(Dubai) + " days.\n Paris for " + str(Paris) + " days.\n London for " + str(London) + " days.\n Mumbai for " + str(Mumbai) + " days." )
    
    Cities =["Paris", "London", "Dubai", "Mumbai"]
    Max_Stay(Cities)

Note: No_of_Travellers for a combo cannot exceed 6 because the maximum seats available for a rental car is 6
How many individuals would be traveling:2
What is your budget:5000
For a budget of 5000, 2 person(s) can travel to:
 Dubai for 102.82758620689654 days.
 Paris for 67.08333333333333 days.
 London for 58.333333333333336 days.
 Mumbai for 136.66666666666666 days.

$$$$

# Bonus code for lazy customers (hahaha) who just want to know where they will spend the most days based on their budget. This code will provide them with a direct answer.

In [17]:
print("Note: No_of_Travellers for a combo cannot exceed 6 because the maximum seats available for a rental car is 6")
#Length_of_Stay = [Budget - Return_Ticket] / [(Hotel_per_day + (Weekly Car Rental/7))*No_of_Days]
# The value of Length_of_Stay is a scale that shows the inverse relation between the cost of visiting a city and the
#...possible length of days you can stay in that city).
#The lower the cost of living, the higher the purchasing power(The longer you can stay in that city)
No_of_Travellers = input("How many individuals would be traveling:")
Budget = input("What is your budget:")
if(float(Budget) < 1000):
    print ("You do not have sufficient fund to travel")
else:
    def Max_Stay(Cities):
        Paris = ((float(Budget) - (200 * float(No_of_Travellers))) / (((20*float(No_of_Travellers))) + ((200/7))))
        London = ((float(Budget) - (250 * float(No_of_Travellers))) / (((30*float(No_of_Travellers))) + ((120/7))))
        Dubai = ((float(Budget) - (370 * float(No_of_Travellers))) / (((15*float(No_of_Travellers))) + ((80/7))))
        Mumbai = ((float(Budget) - (450 * float(No_of_Travellers))) / (((10*float(No_of_Travellers))) + ((70/7))))
        if (Paris > London) and (Paris > Dubai) and (Paris > Mumbai):
            print("You will have the maximum stay of {} days in Paris base on your budget!".format(Paris))
        elif (London > Paris) and (London > Dubai) and (London > Mumbai):
            print("You will have the maximum stay of {} days in London base on your budget!".format(London))
        elif (Dubai > Paris) and (Dubai > London) and (Dubai > Mumbai):
            print("You will have the maximum stay of {} days in Dubai base on your budget!".format(Dubai))
        elif (Mumbai>Paris) and (Mumbai> London) and (Mumbai>Dubai):
            print("You will have the maximum stay of {} days in Mumbai base on your budget!".format(Mumbai))
    
    Cities =["Paris", "London", "Dubai", "Mumbai"]
    Max_Stay(Cities)

Note: No_of_Travellers for a combo cannot exceed 6 because the maximum seats available for a rental car is 6
How many individuals would be traveling:1
What is your budget:2000
You will have the maximum stay of 77.5 days in Mumbai base on your budget!